@media (max-width: 767px) {
  .Projects {
    display: flex;
    flex-direction: column;
  }
  .Projects-left {
    display: flex;
    justify-content: space-around;
  }
  .Projects-left_item {
    display: flex;
    align-items: center;
  }
  .Projects-title {
    cursor: pointer;
    margin: 20px 0;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
  }
  .Projects-title_active {
    cursor: pointer;
    margin: 20px 0;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-right {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .Projects-right_item {
    width: 100%;
  }
  .Projects-header {
    display: flex;
    justify-content: center;
  }
  .Projects-date {
    margin: 5px 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .Projects-techs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
  .Projects-row2 {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  .Projects-text_large {
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-logo {
    height: 40px;
    width: 40px;
    margin: 5px 0;
  }
  .Projects-icon {
    font-size: 40px;
  }
  .Projects-icon:hover {
    color: rgb(163, 54, 61);
  }
  .Projects-icon_label {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transform: translate(0, 40px);
  }
  .Projects-img {
    width: 100%;
    border-radius: 10px;
  }
  .Projects-text {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 1039px) {
  .Projects {
    display: flex;
    flex-direction: column;
  }
  .Projects-left {
    display: flex;
    justify-content: space-around;
  }
  .Projects-left_item {
    display: flex;
    align-items: center;
  }
  .Projects-title {
    cursor: pointer;
    margin: 20px 0;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
  }
  .Projects-title_active {
    cursor: pointer;
    margin: 0 2px 0 10px;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-right {
    padding: 10px 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .Projects-right_item {
    width: 100%;
  }
  .Projects-header {
    display: flex;
    justify-content: center;
  }
  .Projects-date {
    margin: 5px 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .Projects-row2 {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  .Projects-text_large {
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-logo {
    height: 40px;
    width: 40px;
    margin: 5px 0;
  }
  .Projects-icon {
    font-size: 40px;
  }
  .Projects-icon:hover {
    color: rgb(163, 54, 61);
  }
  .Projects-icon_label {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transform: translate(0, 40px);
  }
  .Projects-img {
    width: 100%;
    border-radius: 10px;
  }
  .Projects-text {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (min-width: 1040px) and (max-width: 1439px) {
  .Projects {
    display: flex;
  }
  .Projects-left {
    width: 150px;
    height: min-content;
    position: sticky;
    top: 40px;
  }
  .Projects-left_item {
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
  }
  .Projects-title {
    cursor: pointer;
    margin: 0 2px 0 10px;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
  }
  .Projects-right {
    padding: 10px 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .Projects-right_item {
    width: 100%;
  }
  .Projects-header {
    display: flex;
    justify-content: center;
  }
  .Projects-date {
    margin: 5px 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .Projects-row2 {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  .Projects-text_large {
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-logo {
    height: 40px;
    width: 40px;
    margin: 5px 0;
  }
  .Projects-icon {
    font-size: 40px;
  }
  .Projects-icon:hover {
    color: rgb(163, 54, 61);
  }
  .Projects-icon_label {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transform: translate(0, 40px);
  }
  .Projects-img {
    width: 100%;
    border-radius: 10px;
  }
  .Projects-text {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .Projects {
    display: flex;
  }
  .Projects-left {
    width: 150px;
    height: min-content;
    position: sticky;
    top: 40px;
  }
  .Projects-left_item {
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
  }
  .Projects-title {
    cursor: pointer;
    margin: 0 2px 0 10px;
    text-align: end;
    width: 110px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
  }
  .Projects-right {
    padding: 10px 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .Projects-right_item {
    width: 100%;
  }
  .Projects-header {
    display: flex;
    justify-content: center;
  }
  .Projects-date {
    margin: 5px 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .Projects-row2 {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  .Projects-text_large {
    font-size: 18px;
    font-weight: 700;
    color: rgb(163, 54, 61);
  }
  .Projects-logo {
    height: 40px;
    width: 40px;
    margin: 5px 0;
  }
  .Projects-icon {
    font-size: 40px;
  }
  .Projects-icon:hover {
    color: rgb(163, 54, 61);
  }
  .Projects-icon_label {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transform: translate(0, 40px);
  }
  .Projects-img {
    width: 100%;
    border-radius: 10px;
  }
  .Projects-text {
    font-size: 14px;
    line-height: 1.5;
  }
}

.Projects-arrow {
  font-size: 20px;
  font-weight: 700;
  color: rgb(163, 54, 61);
}