@media (max-width: 1039px) {
  .Homepage-div{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 1040px) {
  .Homepage{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    overflow: scroll;
    gap: 40px;
  }
}