@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1039px) {
  
}

@media (min-width: 1040px) and (max-width: 1439px) {
  
}

@media (min-width: 1440px) {
  
}

.Navigation {
  width: 100vw;
  height: 50px;
  background-color: grey;
}