@media (max-width: 766px) {
  .NavBar-icon{
    margin: 0 15px;
    transition: 500ms;
  }
}

@media (min-width: 767px) {
  .NavBar-icon{
    margin: 0 35px;
    transition: 500ms;
  }
}

.NavBar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20px;
  padding: 20px 0;
  background-color: rgba(240, 248, 255, 0);
}
.NavBar-label{
  position: absolute;
  font-size: 14px;
  margin: 10px 0;
}
.NavBar-label_1{
  transform: translateX(25px);
}
.NavBar-label_2{
  transform: translateX(10px);
}
.NavBar-label_3{
  transform: translateX(15px);
}
.NavBar-label_4{
  transform: translateX(10px);
}
.NavBar-label_5{
  transform: translateX(25px);
}