



.skills-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.skill-card-title {
  font-size: 16px;
}

.skill-card-title2{
  font-size: 14px;
}

.skill-card-ul{
  list-style-type: circle;
  font-size: 12px;
  font-weight: 100;
}