@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 1039px) {

}
@media (min-width: 1040px) and (max-width: 1439px) {
  .Home {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    gap: 30px;
    height: 90vh;
  }
  .Home-box {
    margin-top: 8vh;
    padding: 20px;
    width: 600px;
    height: 500px;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0, .7);
    border-radius: 10px;
  }
}
@media (min-width: 1440px) {
  .Home {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    gap: 30px;
    height: 90vh;
  }
  .Home-box {
    margin-top: 8vh;
    padding: 20px;
    width: 600px;
    height: 500px;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0, .7);
    border-radius: 10px;
  }
}
.Home-text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.5;
}
