html, body {
  margin: 10px 10px 0 10px;
  background-color: black;
  border-radius: 10px;
  overflow: auto;
  font-family: 'Lexend';
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

@media (max-width: 1023px) {
  html, body {
    background-color: rgb(23, 23, 23);
  }
}

.background{
  background-color: rgb(23, 24, 33);
}
