html, body {
  margin: 0;
  background-color: black;
  border-radius: 10px;
  overflow: auto;
  font-family: 'Lexend';
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

.background{
  background-color: rgb(23, 24, 33);
}
